@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji');

@media screen and (max-width: 767px) {
    .overlay-on-small {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 100;
        padding: 0;
    }

    .overlay-on-small>.card {
        width: 100%;
        height: 100%;
    }
}

.emoji {
    font-family: 'Noto Color Emoji';
}