td>button {
    font-size: 0.8em;
}

tr {
    border-bottom: 1px solid #9c4046;
}

tr:first-child {
    height: 3em;
    border-bottom: 0px;
}

tr:last-child {
    border-bottom: 0px;
}

td {
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

td:first-child {
    width: 4em;
}

td:nth-child(3) {
    width: 8em;
}

#pick-topic {
    width: 100%;
    text-align: center;
}

select {
    appearance: none;
    border-width: 0px;
    background-color: #ddd4d4;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
}

#editing-message {
    font-weight: bold;
}

table {
    margin-top: 1em;
    background-color: #f5f0f0;
    border-radius: 1rem;
    padding: 1em;
    border-collapse: collapse;
    width: 100%;
}

.admin-nav {
    background-color: #f5f0f0;
    display: block;
    padding: .5em;
    border-radius: 1rem;
}

.admin-panel-user-manage {
    text-align: right;
    justify-content: space-around;
}

.admin-panel-user-manage>* {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
}

.admin-controls {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
}

.edit-post {
    background-color: #f5f0f0;
    margin-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-left: 1em;
    border-radius: 1rem;
}