@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

html {
    display: table;
    margin: auto;
    width: 100%;
}

.not-full-screen {
    width: auto;
}

body {
    font-family: 'Roboto', serif-sans;
    padding: 2em;
    vertical-align: middle;
    background-color: #fffbfa;
    color: #241e1e;
}

h1 {
    font-family: 'Taviraj', serif;
    margin-top: 1em;
    font-weight: normal;
    text-align: center;
    color: #524343;
}

.section-write-opinion-button {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

h3 {
    font-size: 1em;
}

button,
input[type=submit] {
    background-color: #9c4046;
    color: white;
    border-width: 0px;
    border-radius: 12em;
    padding: 1em 2em 1em 2em;
    font-size: 1.2em;
}

button:hover,
input[type=submit]:hover {
    background-color: #ffdadb;
    color: #40000a;
}

button:active,
input[type=submit]:active {
    background-color: #400009;
    color: #ffdadb;
}

.btn-secondary {
    background-color: #ffdad9;
    color: #34131f;
}

.btn-secondary:hover {
    background-color: #9c4046;
    color: white;
}

.btn-secondary:active {
    background-color: #400009;
    color: #ffdadb;
}

.emoji {
    display: inline;
    font-family: 'Noto Color Emoji';
    font-size: 1em;
    padding: 0.5em;
}

form>input,
textarea {
    display: block;
}

form>input {
    margin-bottom: 1em;
}

article {
    background-color: #f5f0f0;
    margin: 2em;
    padding: 1.5em 1em 1.5em 1em;
    border-radius: 1rem;
}

article>header {
    font-size: 2em;
    padding-bottom: 0.2em;
    color: #524343;
}

article>main {
    font-size: 1em;
    padding-bottom: 0.8em;
}

a {
    color: #9c4046;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.opinions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.opinion {
    flex-wrap: wrap;
    display: flex;
    flex-flow: column;
    align-self: stretch;
}

.opinion>main {
    height: 100%;
    max-width: 30em;
}

.report-issue {
    bottom: 0;
    margin-top: 1em;
}

.reactions {
    display: inline;
    max-width: 20em;
}

.reaction {
    padding: 0.5em;
    min-width: 3em;
    max-width: 5em;
}

.reaction>.emoji {
    padding: 0;
    font-size: 1em;
}

input[type=submit] {
    margin-top: 1em;
    margin-bottom: -1em;
    width: 100%;
}

input[type=text],
input[type=password],
textarea {
    background-color: #f5f0f0;
    font-size: 1.2em;
    height: 2em;
    border-width: 0px;
    background-color: #dcd4d4;
    border-radius: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
}

.sort-by-options {
    display: inline-block;
    margin-top: 2em;
    text-align: center;
    width: 100%;
    align-items: center;
    vertical-align: middle;
}

.sort-by-options>input {
    display: inline;
}

.sort-by-options>label {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.1em;
    vertical-align: middle;
}

input[type=radio] {
    appearance: none;
    border-radius: 50%;
    background: transparent;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 2px #241e1e;
    width: 2em;
    height: 2em;
    margin-right: 2em;
    vertical-align: middle;
}

input[type=radio]:checked {
    background: #9c4046;
    box-shadow: 0 0 0 2px #9c4046;
}

input[type=radio]:hover,
input[type=submit]:hover,
button,
label:has(input[type=radio]):hover {
    cursor: pointer;
}

.foot {
    display: block;
    text-align: center;
    font-family: 'Taviraj', serif;
    margin-top: 2em;
    padding: .5em;
    background-color: #f5f0f0;
    border-radius: 1rem;
}

.page,
.admin-nav {
    text-align: center;
}

.admin-nav {
    background-color: #f5f0f0;
    display: block;
    padding: .5em;
    border-radius: 1rem;
}

table {
    margin-top: 1em;
    background-color: #f5f0f0;
    border-radius: 1rem;
    padding: 1em;
    border-collapse: collapse;
    width: 100%;
}

.admin-panel-user-manage {
    text-align: right;
    justify-content: space-around;
}

.admin-panel-user-manage>* {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
}

.admin-controls {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
}

.edit-post {
    background-color: #f5f0f0;
    margin-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-left: 1em;
    border-radius: 1rem;
}

.inline {
    display: inline;
}

#editing-message {
    font-weight: bold;
}

form>textarea {
    width: 100%;
    height: 8em;
    margin-bottom: 0;
}

td>button {
    font-size: 0.8em;
}

tr {
    border-bottom: 1px solid #9c4046;
}

tr:first-child {
    height: 3em;
    border-bottom: 0px;
}

tr:last-child {
    border-bottom: 0px;
}

td {
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

td:first-child {
    width: 4em;
}

td:nth-child(3) {
    width: 8em;
}

#pick-topic {
    width: 100%;
    text-align: center;
}

select {
    appearance: none;
    border-width: 0px;
    background-color: #ddd4d4;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
}

#input-opinion-panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

#input-opinion-panel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffbfa;
    width: 60%;
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1rem;
    padding: 3rem;
}

#input-opinion-hide {
    position: absolute;
    right: 0;
    top: 0;
    width: 6ex;
    height: 6ex;
    margin-top: 0em;
    margin-right: 0em;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    z-index: 500;
    padding: 1em;
    border-radius: 1rem;
}

.input-char-counter {
    display: block;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

#content-char-counter {
    margin-top: 0rem;
}

#title-input {
    width: 100%;
}

#reaction-panel {
    position: absolute;
    background-color: #f5f0f0;
    border-radius: 1rem;
    padding: 1em;
    max-width: 20em;
    display: none;
    box-shadow: 0 5px 10px #241e1e62;
}

#reaction-panel form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#reaction-panel h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

#reaction-panel form>* {
    margin-left: 1em;
    width: 4em;
    padding: 0.5em;
}

#reaction-panel form>*:first-child {
    margin-left: 0em;
}

@media screen and (max-width: 480px) {
    h1 {
        margin-top: 0em
    }

    article {
        flex-basis: 100%;
        margin: 2em 0em 0em 0em;
    }

    .sort-by-options>label {
        font-size: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .admin-controls {
        grid-template-columns: 100%;
    }

    .edit-post {
        background-color: #f5f0f0;
        margin-top: 1em;
        padding-right: 0em;
        padding-left: 0em;
        margin-left: 0em;
        border-radius: 1rem;
    }

    #input-opinion-panel-content {
        width: 75%;
        height: 85%;
    }
}